# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [167]:
import pandas as pd

# URL de los archivos CSV
url_file1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url_file2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url_file3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

# Leer los archivos CSV
df_file1 = pd.read_csv(url_file1)
df_file2 = pd.read_csv(url_file2)
df_file3 = pd.read_csv(url_file3)

# Combinar los DataFrames
combined_df = pd.concat([df_file1, df_file2, df_file3], ignore_index=True)

# Eliminar filas duplicadas
combined_df.drop_duplicates(inplace=True)

# Limpiar los nombres de las columnas
combined_df.columns = combined_df.columns.str.lower().str.replace(' ', '_')
combined_df.columns = combined_df.columns.str.replace(r'\bst\b', 'state', regex=True)

# Eliminar columnas duplicadas
combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]

# Mostrar los nombres de las columnas después de la limpieza
print("\nNombres de columnas después de eliminar duplicados:")
print(combined_df.columns)

# Mostrar las primeras filas para verificar
print("\nPrimeras filas del DataFrame combinado y limpio:")
combined_df.head()

Nombres de columnas después de eliminar duplicados:
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

Primeras filas del DataFrame combinado y limpio:

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [168]:
# 1. Estandarizar la columna "gender"
combined_df['gender'] = combined_df['gender'].str.strip().str.lower().map({'female': 'F', 'femal': 'F', 'f': 'F', 'male': 'M', 'm': 'M'})

# 2. Reemplazar abreviaturas de "state" por nombres completos
state_mapping = {
    'az': 'Arizona', 
    'cali': 'California', 
    'wa': 'Washington'
}
combined_df['state'] = combined_df['state'].replace(state_mapping)

# 3. Modificar los valores en "education"
combined_df['education'] = combined_df['education'].replace({'bachelors': 'Bachelor'})

# 4. Limpiar la columna "customer_lifetime_value"
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].str.replace('%', '').astype(float)

# 5. Agrupar categorías en "vehicle_class"
combined_df['vehicle_class'] = combined_df['vehicle_class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})

# Mostrar las primeras filas del dataframe para verificar
print("\nPrimeras filas después de la limpieza adicional:")
combined_df.head()

Primeras filas después de la limpieza adicional:

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [169]:
# 6. Limpiar y convertir "number_of_open_complaints"
# Reemplazar NaN por un valor temporal para no causar errores en la conversión
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].fillna('0')

# Extraer el número central de las quejas (por ejemplo, '1/5/00' -> '5')
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].astype(str).apply(lambda x: int(x.split('/')[1]) if '/' in x else int(x))

# Mostrar los tipos de datos después de la conversión
print("\nData types after formatting:")
print(combined_df.dtypes)

# Mostrar las primeras filas para verificar
print("\nFirst few rows after data type formatting:")
combined_df.head()

Data types after formatting:
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

First few rows after data type formatting:

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [170]:
# Identificar columnas con valores nulos y contar cuántos hay en cada columna
null_counts = combined_df.isnull().sum()
print("Cantidad de valores nulos en cada columna:")
print(null_counts)

Cantidad de valores nulos en cada columna:
customer                        1
state                        7071
gender                       7193
education                       1
customer_lifetime_value      7078
income                          1
monthly_premium_auto            1
number_of_open_complaints       0
policy_type                     1
vehicle_class                   1
total_claim_amount              1
dtype: int64

In [171]:
# Rellenar valores nulos en variables numéricas con la mediana
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].fillna(combined_df['customer_lifetime_value'].median())
combined_df['income'] = combined_df['income'].fillna(combined_df['income'].median())
combined_df['monthly_premium_auto'] = combined_df['monthly_premium_auto'].fillna(combined_df['monthly_premium_auto'].median())
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].fillna(combined_df['number_of_open_complaints'].median())
combined_df['total_claim_amount'] = combined_df['total_claim_amount'].fillna(combined_df['total_claim_amount'].median())

# Rellenar valores nulos en variables categóricas con la moda
combined_df['gender'] = combined_df['gender'].fillna(combined_df['gender'].mode()[0])
combined_df['education'] = combined_df['education'].fillna(combined_df['education'].mode()[0])
combined_df['state'] = combined_df['state'].fillna(combined_df['state'].mode()[0])
combined_df['policy_type'] = combined_df['policy_type'].fillna(combined_df['policy_type'].mode()[0])
combined_df['vehicle_class'] = combined_df['vehicle_class'].fillna(combined_df['vehicle_class'].mode()[0])

In [172]:
# Verificar si quedan valores nulos
null_counts_after = combined_df.isnull().sum()
print("Cantidad de valores nulos en cada columna después del tratamiento:")
print(null_counts_after)

Cantidad de valores nulos en cada columna después del tratamiento:
customer                     1
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [173]:
# Mostrar las filas donde la columna 'customer' es nula
null_customers = combined_df[combined_df['customer'].isnull()]
print(null_customers)

     customer   state gender education  customer_lifetime_value   income  \
1071      NaN  Oregon      F  Bachelor                572076.51  34240.0

      monthly_premium_auto  number_of_open_complaints    policy_type  \
1071                  83.0                          0  Personal Auto

      vehicle_class  total_claim_amount
1071  Four-Door Car          377.505619

In [174]:
# Convertir columnas numéricas a enteros
numeric_columns = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount']
combined_df[numeric_columns] = combined_df[numeric_columns].astype(int)

# Verificar los tipos de datos después de la conversión
print("\nTipos de datos después de la conversión a enteros:")
print(combined_df.dtypes)

Tipos de datos después de la conversión a enteros:
customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [175]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [176]:
# Your code goes here